#
# Folders

.vs/
.idea/
bin/
obj/
packages/

#
# Files

*.user
.env

#
# Vendor: Hugo

blog/public/
blog/resources/_gen/

blog/.hugo_build.lock
blog/hugo_stats.json
blog/assets/jsconfig.json

blog/hugo.exe
blog/hugo.darwin
blog/hugo.linux
