<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <configurator type="Endless.Foundation.JSS.ServicesConfigurator, Endless.Foundation.JSS" />
    </services>
  </sitecore>
</configuration>
